header nav ul li {
    display: inline;
    text-decoration: none;
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 60px;
  margin-left: 220px;
  position: absolute;
  width: 60%;
  /* border: #b88e0f solid 3px; */
}
body {
  background-color: #f4f3ee;
  padding: 5%;
  width: 80%;
}
.italico {
  font-style: italic;
}
ul {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  width: auto;
}
.nome {
  text-align: center;
  color: #7c0f05;
}
#foto {
  width: 150px;
  float: left;
  padding: 3px;
  background-color: #7c0f05;
  border-radius: 50px 0px 0px 70px;
  margin-right: 30px;
  margin-top: 0px;
  margin-left: 30px;
}
.description {
  height: 200px;
  width: fit-content;
}
ul li:nth-child(odd) {
  font-family: "Lobster", cursive;
}
footer {
  text-align: right;
  background-color: #b88e0f;
  display: block;
  border: 10px solid #b88e0f;
}
.social-icon {
  float: right;
}
a {
  text-decoration: none;
}