* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: #e9dccc;
}

.color {
  border: 1px black solid;
  width: 40px;
  height: 40px;
}

.pixel {
  border: black 1px solid;
  display: table-cell;
  width: 40px;
  height: 40px;
}

/* Fonte forma de centralização: https://pt.stackoverflow.com/questions/806/como-centralizar-horizontalmente-uma-div-dentro-de-outra / melhorada por suegestões do Lint */
.lines , #color-palette , header , #clear , #switchboard {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#switchboard {
  padding: 15px;
  font-family: Fuzzy Bubbles, cursive;
}

#clear-board , #generate-board {
  color: #e9dccc;
  font-size: 15px;
  background-color: #0d6465;
  border: 10px solid #0d6465;
  border-radius: 15%;
}

#title {
  padding: 40px 20px 20px;
  color: #063749;
  font-family: Fuzzy Bubbles, cursive;
  font-size: 50px;
}

#board-size {
  width: 50px;
  font-size: 16px;
}

.lable {
  padding-right: 20px;
  color: #0d6465;
}

#generate-board {
  margin-left: 20px;
}

#pixel-board {
  margin: 20px 0;
}

#instructions {
  margin-top: 50px;
  padding: 20px 30px 30px 100px;
  background-color: #4c1e76;
  font-family: Fuzzy Bubbles, cursive;
}

ul {
  color: #f2b138;
}

h3 {
  color: #f2e205;
  padding-bottom: 20px;
}

button {
  font-family: Fuzzy Bubbles, cursive;
}

footer {
  text-align: end;
  padding: 20px;
  color: #003f63;
}
